a {
    text-decoration: none !important;
}

.header-anchor {
    float: left;
    margin-left: -0.5em;
}

h2 .header-anchor,
h3 .header-anchor,
h4 .header-anchor,
h5 .header-anchor {
    visibility: hidden;
}

h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor {
    visibility: visible;
}
