$color-blossom: #1d7484;
$color-fade: #982c61;

$color-bg: #f9f9f9;
$color-bg-alt: #f1f1f1;

$color-text: #4a4a4a;
$font-size-base: 1.6rem;

$font-family-base: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
$font-family-heading: Verdana, Geneva, Tahoma, sans-serif;