---
title: Blog
layout: layouts/base.njk
---

<ul class="post-list">
    {% for post in collections.posts | reverse %}
    <li>
        <a href="{{ post.url }}">
            <h2>{{ post.data.title }}</h2>
        </a>

        <aside>{{ post.data.date | formatdate({ dateStyle: "medium" }) }}</aside>

        <p>{{ post.data.description }}</p>
    </li>
    {% endfor %}
</ul>