---
title: Blog
layout: layouts/base.njk
---

<section class="post-list">
    <h1>Blog posts</h1>

    {% for post in collections.posts | reverse %}
    <article>
        <a href="{{ post.url }}">
            <h2>{{ post.data.title }}</h2>
        </a>

        <aside>
            <time datetime="{{ post.data.date | formatdate('y-MM-dd') }}">{{ post.data.date | formatdate("MMM. dd, y") }}</time>
        </aside>

        <p>{{ post.data.description }}</p>
    </article>
    {% endfor %}
</section>