---
import Layout from "../../layouts/Layout.astro";
import RecentPosts from "../../components/RecentPosts.astro";
---

<Layout title="Posts">
  <h1>Posts</h1>
  <RecentPosts showDescription />
</Layout>
