---
import Layout from "../../layouts/Layout.astro";
import RecentPosts from "../../components/RecentPosts.astro";

const meta = {
  type: "page",
  title: "Posts",
  description:
    "In this blog, I share my experiences and thoughts on software engineering and web development in general.",
} as const;
---

<Layout meta={meta}>
  <h1>Posts</h1>
  <RecentPosts showDescription />
</Layout>
