.card-alt {
  margin: var(--content-spacing) 0;
  padding: 1em;
  background-color: var(--color-bg-alt);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 1.2rem;
}

.overflow-wrapper {
  overflow-x: auto;
}
