:root {
  --color-primary: #2bbc8a;

  --color-bg: #f6f7f7;
  --color-bg-alt: #ededed;
  
  --color-text: #242424;
  --color-text-alt: #6b6b6b;

  --color-border: #bcc1bc;

  --font-size-base: 16px;
  --font-size-code: 0.85em;
  
  --font-line-height-base: 1.9;
  --font-line-height-heading: 1.4;

  --font-weight-base: 300;
  --font-weight-heading: 700;
  --font-weight-bold: 700;

  --font-family-base: "Merriweather", Georgia, "Times New Roman", Times, serif;
  --font-family-heading: -apple-system, "Montserrat", "Helvetica Neue",
    Helvetica, Arial, sans-serif;

  --content-spacing: 1.5rem;
  --content-spacing-small: calc(var(--content-spacing) / 2);

  --border-radius: 0.4rem;
  --border-radius-small: calc(var(--border-radius) / 2);
}