<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% set pageTitle = (title + " | " + metadata.title) if title else metadata.title %}
    <title>{{ pageTitle | escape }}</title>
    <meta property="og:title" content="{{ pageTitle | escape }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% set desc = description or metadata.description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}

    <meta name="og:image" content="{{ '/img/profile-picture.jpg' | absoluteurl }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="{{ metadata.author.twitterHandle }}">

    <link rel="icon" href="/img/favicon.svg">

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for pm.dartus.fr" href="/feed.xml" />

    <style>
        {% scss 'scss/index.scss' %}
    </style>

    {% block head %}{% endblock %}
</head>
<body>
    {% include "header.njk" %}

    <main>
        {% block main %}
          {{ content | safe }}
        {% endblock %}
    </main>

    {% include "footer.njk" %}
</body>
</html>