---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageType="page"
  title="Not found"
  description="Oops! You found a missing page!"
>
  <h1>Oops! You found a missing page!</h1>
  <p>
    Sorry about that! The page you're looking for doesn't exist. It's probably
    best to go back to the <a href="/">home page</a>.
  </p>
</Layout>
