---
import { SOCIAL } from "../site";
import Icon from "./Icon.astro";
---

{
  SOCIAL.map((social) => (
    <a
      href={social.url}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={social.label}
    >
      <Icon class="icon" name={social.platform} />
    </a>
  ))
}

<style>
  a {
    color: inherit;
    text-decoration: none;
    padding: 0.25em;

    .icon {
      display: inline-block;
      transition: transform 0.2s;
    }
  }

  a:hover {
    color: var(--color-primary);

    .icon {
      transform: rotate(10deg);
    }
  }
</style>
