<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% set pageTitle = (title + " | " + metadata.title) if title else metadata.title %}
    <title>{{ pageTitle | escape }}</title>
    <meta property="og:title" content="{{ pageTitle | escape }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% set desc = description or metadata.description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}

    <meta name="og:image" content="{{ '/img/profile-picture.jpg' | url | absoluteurl(env.url) }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ metadata.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.twitterHandle }}">

    <link rel="icon" href="/img/favicon.svg">

    {% if env.isProd %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ metadata.googleAnalyticsId }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ metadata.googleAnalyticsId }}');
      </script>
    {% endif %}

    <style>
        {% scss 'scss/index.scss' %}
    </style>

    {% block head %}{% endblock %}
</head>
<body>
    {% include "header.njk" %}

    <main>
        {% block main %}
          {{ content | safe }}
        {% endblock %}
    </main>

    {% include "footer.njk" %}
</body>
</html>