<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title}}</title>

    <style>
        {% scss 'scss/index.scss' %}
    </style>
</head>
<body>
    {% include "header.njk" %}

    <main>
        {{ content | safe }}
    </main>
</body>
</html>