---
layout: layouts/base.njk
---

<article>
  <h1>{{ title }}</h1>

  {% set wc = content | striptags | wordcount %}
  {% set wPerMinute = (wc / 240) + 1 %}
  <aside>Published on <time datetime="{{ date | formatdate('y-MM-dd') }}">{{ date | formatdate("MMM. dd, y") }}</time> - {{ wPerMinute | round }} min read</aside>

  <section class="content">
    {{ content | safe }}
  </section>
</article>

<ul class="pagination">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li><a href="{{ nextPost.url | url }}">← {{ nextPost.data.title }}</a></li>{% endif %}

  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li><a href="{{ previousPost.url | url }}">{{ previousPost.data.title }} →</a></li>{% endif %}
</ul>